html, body {
	margin: 0;
	height: 100%;
}

.container {
	width: 320px;
	height: 100%;
	margin: 0 auto;
	font-family: arial, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box{
	text-align: center;
}